@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700;900&display=swap');


body{
    font-family: "Calibri", "Arial";
    font-size: 13px;
    line-height:16px;
}

.clear-both{
    clear:both;
}

.text-left{
    text-align:left;
}

.main-header{
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    margin-bottom:20px;
    padding: 10px 2px 0 2px;
}

.main-header .timestamp{
/*    float:right;
    display:inline-block;*/
text-align:right;
margin-top:-20px;
margin-bottom:12px;}

.department-header{
    font-size:22px;
    line-height: 24px;
    font-weight:bold;
    margin: 5px 10px;
    position:relative;
}

.department-header .department{
    /*float:right;*/
    text-align:right;
    margin-top:-25px;
    margin-bottom:10px;
}

.detail-table{
    width:100%;
    border-collapse: collapse;
    text-align:center;
    margin-bottom:40px;
}
.detail-table th, .detail-table td{

    border: 1px solid black;
    vertical-align:middle;
    padding: 5px;
}

.detail-table th{
    font-size:14px;
    line-height: 16px;
    font-weight: bold;
}

.detail-table tr.bg-color{

    background-color: #D9D9D9;
}
.detail-table tr.bg-color th{

    font-size:12px;
    line-height:14px;
}
.detail-table td{
    font-size: 13px;
    line-height:14px;
    font-weight: bold;
}

.detail-table .alert-0{
    background-color: green;
}
.detail-table .alert-1{
    background-color: red;
}
.dash-line{
    border-bottom: 1px dashed black;
    margin: 20px 0;
}